<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/Policy.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>COCO | Policy</title>
</head>
<body>
    <header>
        <div>
            <article id="barra">
                25% OFF IN WINTER SEASON
            </article>
            <article class="menu">
                <ul>
                    <li><a href="#"><b>SALE</b></a></li>
                    <li><a href="#"><b>SHOP</b></a></li>
                    <li><a href="#"><b>CONTACT</b></a></li>
                </ul>
            </article>
            <article id="coco">
                <a href="#"><img src="images/LogoNuevo2.png" alt="COCO"></a>
            </article>
            <article class="derecha">
                <ul>
                    <li id="lup"><a href="#"><img src="images/iconos/lupa.png" alt="Lupa"></a></li>
                    <li><a href="#"><img src="images/iconos/usuario.png" alt="usuario"></a></li>
                    <li><a href="#"><img src="images/iconos/bolsa.png" alt="Carrito"></a></li>
                </ul>
            </article>
        </div>
    </header>

    <section class="cuerpo">
        <section class="texto">
            <h2>PRIVACY POLICY</h2>
            <p>The personal data requested and collected during communications or activities during online COCO.com purchase, according to the Italian Privacy Act no. 675 of 1996 and Decree 196 of 2003 “Code concerning the protection of personal data”:</p>
            <ol>
                <li>
                    Are collected and processed electronically and/or mechanically for:
                    <ol>
                        <li>activate and maintain procedures to the Client for the execution of the order and the shipment of the purchased goods;</li>
                        <li>maintain a private customer database;</li>
                        <li>keep a private record sales that may include: name, address, address, email address, order status;</li>
                    </ol>
                </li>
                <li>Are required to best provide the requested services;</li>
                <li>If these data will be not provided, the client couldn’t proceed to checkout;</li>
                <li>Will be processed by a supplier about the performance of the services required and as specified in paragraph 1);</li>
                <li>May be disclosed to third parties only assigned to perform the tasks required for the execution of the contract, but in any case they will be transferred, sold or bartered.</li>
            </ol>
            <p>Owner of the personal data processing is COCO A&N SNC – Via Sun 7 – 37121 Verona – Italy.</p>
            <h4>COOKIES POLICY</h4>
            <p>Cookies are small files that are saved on your device and that store settings and specific data for exchange with our system via your browser. We distinguish two types of cookies: the so-called session-cookies, which are deleted when you close your browser cookies and temporary / permanent, which are stored on your device for an extended period or permanently.</p>
            <p>Acceptance of cookies is not required in order to visit our websites.</p>
            <p>We will notify you, however, that the use of the “basket” and the order of products are possible only if it authorizes the use of cookies.</p>
            <p>Most of the cookies we use when the browser is closed (end session) are automatically deleted from your hard drive (so-called session cookies). The session-cookies you have, for example, the “basket” or “login” even if you browse through several pages.</p>
            <p>In addition we also use cookies that remain on your hard drive. When you come on our page, the system will automatically recognize that you have already visited and store data and settings bookmarks. The sole purpose of these cookies is to adapt our offer to your needs as a customer and to make navigation as comfortable as possible.</p>
            <p>Your name, your IP address and similar data that might bring to your person, will never be used. Based on the technology of cookies only we receive information in the form of a pseudonym or anonymously, for example about which pages on our online store are popular, such as most viewed products etc.
                On the basis of a technology cookies, the site collects data to optimize advertising and products. Your data will not under any time connected to your personal data saved. Our goal is to make our online offering as interesting as possible.</p>
            <p>In your browser you can set your intention to accept cookies to be saved only by request.
                If you intend to accept cookies by our website, but not the cookies of our service company and our partners (for example Facebook, Twitter, Pinterest or Google+), in your browser, you can select the “blocking third-party cookies”.
                Normally in the menu of your web browser, in the media, you can see how reject new cookies and disable existing cookies. In the case of shared computers set so as to accept cookies and flash cookies, you should always log out completely after use.</p>
            <p>At the following links you’ll find information about the browser settings:</p>
            <ul>
                <li>Internet Explorer</li>
                <li>Firefox</li>
                <li>Safari</li>
                <li>Google Chrome</li>
            </ul>
            <p>We advises that, according to article 7 of Legislative Decree 30 June 2003 n. 196, users are entitled to request at any time those who make use of such solutions to delete any information gathered through cookies.</p>
            <p>Otherwise in the website some socials, with your acceptance, should use your personal data to give you a better experience with some social network features. Here follows the link of cookies policies of that services:</p>
            <p>Facebook: /help/cookies/update</p>
            <p>Twitter: support.twitter.com/articles/</p>
            <p>Google Plus: /intl/it_ALL/policies/privacy/</p>
            <p>Pinterest: help.pinterest.com/en/articles/</p>
        
        </section>
    </section>

    <footer>
        <div >
            <article class="bleft">
                <ul>
                    <li><a><b>More information</b></a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Delivery & Returns</a></li>
                    <li><a href="#">Find a Retailer</a></li>
                    <li><a href="#">Our Story</a></li>
                </ul>
            </article>
            <article id="coco2">
                <img src="images/LogoNuevo1.png" alt="COCO">
            </article>
            <article class="info">
                <ul>
                    <li><a><b>Where to find us</b></a></li>
                    <li><a>Via Sole 7 - 37121 Verona, IT</a></li>
                    <li><a>Tel: +54 0351 803 3068</a></li>
                    <li><a>Mail: info@cocointernational.com</a></li>
                </ul>
            </article>
            <article class="extras">
                <ul>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Terms and conditions</a></li>
                    <li><a><b>Social networks</b></a></li>
                </ul>
            </article>
            <article class="redes">
                <ul>
                    <li><a href="#"><img src="images/iconos/whatsapp.png" alt="whatsapp"></a></li>
                    <li><a href="#"><img src="images/iconos/facebook.png" alt="facebook"></a></li>
                    <li><a href="#"><img src="images/iconos/instagram.png" alt="instagram"></a></li>
                </ul>
            </article>
        </div>
    </footer>
    <div>
        <article id="inferior">
            Copyright © 2020 COCO all rights reserved
        </article>
      </div>
    
</body>
</html>