<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/productDetail.css">
    <title>COCO | Ditail </title>
</head> 
<body >
    <header>
        <div>
            <article id="barra">
                25% OFF IN WINTER SEASON
            </article>
            <article class="menu">
                <ul>
                    <li><a href="#"><b>SALE</b></a></li>
                    <li><a href="#"><b>SHOP</b></a></li>
                    <li><a href="#"><b>CONTACT</b></a></li>
                </ul>
            </article>
            <article id="coco">
                <a href="#"><img src="images/LogoNuevo2.png" alt="COCO"></a>
            </article>
            <article class="derecha">
                <ul>
                    <li id="lup"><a href="#"><img src="images/iconos/lupa.png" alt="Lupa"></a></li>
                    <li><a href="#"><img src="images/iconos/usuario.png" alt="usuario"></a></li>
                    <li><a href="#"><img src="images/iconos/bolsa.png" alt="Carrito"></a></li>
                </ul>
            </article>
        </div>
    </header>
<section class="container-fluid">
  <div class="row">
     
       <div class="col-5 col-md-7 col-lg-7" id="images">
        
            <a href="#"><img src="images/Indumentaria/Mujer/remeras/RemeraMiniCadenaLino/gris/RemeraMiniCadenaLinoGris1.png" alt="Remera" id="remera1"></a>
            <a href="#"><img src="images/Indumentaria/Mujer/remeras/RemeraMiniCadenaLino/gris/RemeraMiniCadenaLinoGris2.png" alt="Remera" id="remera2"></a>
            <a href="#"><img src="images/Indumentaria/Mujer/remeras/RemeraMiniCadenaLino/gris/RemeraMiniCadenaLinoGris3.png" alt="Remera" id="remera3"></a>
      
   
       
       </div>
        <div class="col-7 col-md-5 col-lg-5" id="selection">
            
            
                    <p class="nombreProducto"><b>T-SHIRT LINEN</b></p>
            
                
                
                    <p class="selection-color"><label for=""><b>COLOR:</b></label></p>
                    <p> <input type = "radio" name="color" value="gris"> <b>Grey</b> 
                        <input type = "radio" name="color" value="negro"> <b>Black</b>
                        <input type = "radio" name="color" value="negro"> <b>White</b> </p>
                    
    
                  
                    <p class="talle"><label for=""><b>SIZE:</b></label></p>
                    <p> <input type = "radio" name="talle" value="S"> <b>S</b> 
                        <input type = "radio" name="talle" value="M"> <b>M</b>
                        <input type = "radio" name="talle" value="L"> <b>L</b>
                        <input type = "radio" name="talle" value="XL"> <b>XL</b> 
                        <input type = "radio" name="talle" value="XXL"> <b>XXL</b></p>
            
                            
                     
                    <a href="#" class="tabla-talles"><b>SIZE GUIDE</b></a>
               
                
               
                    <p class="description"><b>DESCRIPTION</b></p>
                            <ul type="bullet">
                                <li>FABRIC: Linen</li>
                                <li>DITAILS: Beautiful silk thread details</li>
                                <li>FIT: Loose and comfy!</li>
                            </ul>
                     
    
                   
                        
                    <p class="precio"><b>ON SALE! ONLY $14,99 usd</b></p>
    
        
                    <a href="#"><button type="button" class="btn btn-dark">ADD TO BAG</button></a>
                 
                       
               
            </div>
                   
  </div>
</section>

    


    <footer>
        <div >
            <article class="bleft">
                <ul>
                    <li><a><b>More information</b></a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Delivery & Returns</a></li>
                    <li><a href="#">Find a Retailer</a></li>
                    <li><a href="#">Our Story</a></li>
                </ul>
            </article>
            <article id="coco2">
                <img src="images/LogoNuevo1.png" alt="COCO">
            </article>
            <article class="info">
                <ul>
                    <li><a><b>Where to find us</b></a></li>
                    <li><a>Via Sole 7 - 37121 Verona, IT</a></li>
                    <li><a>Tel: +54 0351 803 3068</a></li>
                    <li><a>Mail: info@cocointernational.com</a></li>
                </ul>
            </article>
            <article class="extras">
                <ul>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Terms and conditions</a></li>
                    <li><a><b>Social networks</b></a></li>
                </ul>
            </article>
            <article class="redes">
                <ul>
                    <li><a href="#"><img src="images/iconos/whatsapp.png" alt="whatsapp"></a></li>
                    <li><a href="#"><img src="images/iconos/facebook.png" alt="facebook"></a></li>
                    <li><a href="#"><img src="images/iconos/instagram.png" alt="instagram"></a></li>
                </ul>
            </article>
        </div>
    </footer>
    <div>
        <article id="inferior">
            Copyright © 2020 COCO all rights reserved
        </article>
      </div>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>