<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/productAdd.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>COCO | Add product</title>
</head>
<body>
    <header>
        <div>
            <article id="barra">
                25% OFF IN WINTER SEASON
            </article>
            <article class="menu">
                <ul>
                    <li><a href="#"><b>SALE</b></a></li>
                    <li><a href="#"><b>SHOP</b></a></li>
                    <li><a href="#"><b>CONTACT</b></a></li>
                </ul>
            </article>
            <article id="coco">
                <a href="#"><img src="images/LogoNuevo2.png" alt="COCO"></a>
            </article>
            <article class="derecha">
                <ul>
                    <li id="lup"><a href="#"><img src="images/iconos/lupa.png" alt="Lupa"></a></li>
                    <li><a href="#"><img src="images/iconos/usuario.png" alt="usuario"></a></li>
                    <li><a href="#"><img src="images/iconos/bolsa.png" alt="Carrito"></a></li>
                </ul>
            </article>
        </div>
    </header>
    <section class="container">
        <div class="row">

            <div class="carga col-sm-12 col-md-12 col-lg-6"> 
              
              <form action="#" method="POST"></form>
                <p><label for=""><b>PRODUCT NAME</b></label></p>
                <textarea name="productname" id="productname" cols="62" rows="2"></textarea>

                <form id="descrip" action="#" method="POST"></form>
                <p><label for=""><b>DESCRIPTION</b></label></p>
                <textarea name="description" id="description" cols="62" rows="5"></textarea>

                <form id="price" action="#" method="POST"></form>
                <p class="cantidad">PRICE <input type="number" name="price" min="1" max="100000" step="1"></p>

                <form id="quantity" action="#" method="POST"></form>
                <p class="cantidad">QUANTITY <input type="number" name="quantity" min="1" max="1000" step="1"></p>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupFileAddon01">Upload Image</span>
                    </div>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                      <label class="custom-file-label" for="inputGroupFile01">Choose image</label>
                    </div>
                  </div>
                
            
            </div>



            <div class="datos col-sm-12 col-md-12 col-lg-6">

                

                <form action="#" method="POST"></form>
                <div class="dropdown" id="classification">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     CLASSIFICATION
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">CLASS1</a>
                      <a class="dropdown-item" href="#">CLASS2</a>
                      <a class="dropdown-item" href="#">CLASS3</a>
                    </div>
                  </div> 


                <form action="#" method="POST"></form>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      BRAND
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">COCO</a>
                      <a class="dropdown-item" href="#">OTHERBRAND</a>
                      <a class="dropdown-item" href="#">ANOTHERBRAND</a>
                    </div>
                  </div>

                  <form action="#" method="POST"></form>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      SIZES
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">S</a>
                      <a class="dropdown-item" href="#">M</a>
                      <a class="dropdown-item" href="#">L</a>
                      <a class="dropdown-item" href="#">XL</a>
                      <a class="dropdown-item" href="#">XXL</a>
                    </div>
                  </div>

                  <form id= "selection-color" action="#" method="POST"></form>
                  <label id ="color" for="muestrario">COLOR:</label>
                  <input type="color" value="0" id="muestrario"> 

                <a href="#"><button type="button" id="uploadButton" class="btn btn-dark">UPLOAD PRODUCT</button></a>

                

                


            </div>

        </div>
        
    </section>
    <footer>
        <div >
            <article class="bleft">
                <ul>
                    <li><a><b>More information</b></a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Delivery & Returns</a></li>
                    <li><a href="#">Find a Retailer</a></li>
                    <li><a href="#">Our Story</a></li>
                </ul>
            </article>
            <article id="coco2">
                <img src="images/LogoNuevo1.png" alt="COCO">
            </article>
            <article class="info">
                <ul>
                    <li><a><b>Where to find us</b></a></li>
                    <li><a>Via Sole 7 - 37121 Verona, IT</a></li>
                    <li><a>Tel: +54 0351 803 3068</a></li>
                    <li><a>Mail: info@cocointernational.com</a></li>
                </ul>
            </article>
            <article class="extras">
                <ul>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Terms and conditions</a></li>
                    <li><a><b>Social networks</b></a></li>
                </ul>
            </article>
            <article class="redes">
                <ul>
                    
                        <li><a href="#"><img src="images/iconos/whatsapp.png" alt="whatsapp"></a></li>
                        <li><a href="#"><img src="images/iconos/facebook.png" alt="facebook"></a></li>
                        <li><a href="#"><img src="images/iconos/instagram.png" alt="instagram"></a></li>
                   
                </ul>
            </article>
        </div>
    </footer>
    <div>
        <article id="inferior">
            Copyright © 2020 COCO all rights reserved
        </article>
      </div>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>