<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/policy.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>COCO | Terms&Conditions</title>
</head>
<body>
    <header>
        <div>
            <article id="barra">
                25% OFF IN WINTER SEASON
            </article>
            <article class="menu">
                <ul>
                    <li><a href="#"><b>SALE</b></a></li>
                    <li><a href="#"><b>SHOP</b></a></li>
                    <li><a href="#"><b>CONTACT</b></a></li>
                </ul>
            </article>
            <article id="coco">
                <a href="#"><img src="images/LogoNuevo2.png" alt="COCO"></a>
            </article>
            <article class="derecha">
                <ul>
                    <li id="lup"><a href="#"><img src="images/iconos/lupa.png" alt="Lupa"></a></li>
                    <li><a href="#"><img src="images/iconos/usuario.png" alt="usuario"></a></li>
                    <li><a href="#"><img src="images/iconos/bolsa.png" alt="Carrito"></a></li>
                </ul>
            </article>
        </div>
    </header>

    <section class="cuerpo">
        <section class="texto">
            <h2>TERMS AND CONDITIONS</h2>
            <h4>1. ONLINE SELLING CONTRACT DEFINITION</h4>
            <p>Online selling contract means a distance contract between a store, Folks A&N SNC based in Verona – Via Sole n. 7, and a consumer 
                using internet. All contracts will be closed directly by the user access to website folksverona.com, where client
                 will finalize the online purchase of goods. It’s assumed that final user is the person that is buying service or 
                 goods not for his professional activity. Here follows all the conditions that will be valid until changed by the 
                 supplier. Any change of conditions of sale will be affective from the time they are published on website and will
                  refer to sales made from that moment onwards.</p>
            <h4>2. SELLS PRICES AND TERMS OF PURCHASE</h4>
            <p>All goods prices, that are a consumer offer according to article 1336 c.c., including Italian taxes. Any shipping
                 cost will be shown in website and the client has to check it before buying. For foreign delivery other additional
                  costs provided by the destination State will be pay by costumer. The purchase contract is concluded through 
                  providing and the expressed consensus of manage personal data.</p>
            <p>The shipping time for Italy, after currier has taken the package, is on 24/48 hours. For Europe Delivery
                 the estimated delivery is in 72 hours. For United States and Australia it takes 7 days. Orders placed 
                 in holiday will be processed on the first working day.</p>
            <h4>3. OBLIGATIONS OF THE BUYER</h4>
            <p>The client, after online order closing, has to print and save this general purchase conditions that he had
                also accept in buying procedure, as well as the specific characteristics of the purchased 
                product, according to artt. 3 and 4 of the italian Decr. Legisl. n. 185/1999. It is strictly prohibited 
                to provide false data during the registration process required for activating the process for the 
                execution of this contract and all subsequent communications. The personal data and e-mail address must 
                be real data and not some of other person. It is expressly forbidden to make double entries for a single
                person or enter data of third parties. The company reserves the right to prosecute any violation or 
                abuse, and for the protection of all consumers.</p>
            <p>In the event of non-delivery caused by wrong address, false or lack information and/or absens, FOLKS A&N 
                SNC reserves the right to charge the consumer any costs of storage products.</p>
            <h4>4. RIGHT OF WITHDRAWAL AND COMPLAINTS</h4>
            <p>Consumers who, for whatever reason, are not satisfied with your purchase could cancel the purchase without
                penalty and without specifying the reason within the term of 10 working days from the conclusion of the 
                contract. The withdrawal must be expressed by sending an e-mail to the following
                address:info@coco.com specifying in the object “withdrawal”. The consumer may not exercise t
                his right of withdrawal for the same products made to measure or clearly personalized or which, by 
                their nature, can not be returned or are liable to deteriorate or expire rapidly. Within the stipulated
                period of 10 days, must be returned to the sender all purchased goods intact and in their original 
                packaging without forgetting the receipt, without any lack, at the following
                references : COCO A&N SNC – Via Sole 7 – 37121 Verona – Italy. Return costs will be borne by the 
                customer. Until goods delivering to supplier, the company disclaims any responsibility in case of
                theft, damage or loss of the package during the shipment.</p>
            <p>After the withdrawal request and the goods delivering, will forward a voucher for the full amount paid
                by the consumer with a 30 days validity. </p>
            <p>In case of faulty goods, please contact the company directly at the email address info@coco.com or phone 
                number (0039) 045 8033068.</p>
            <h4>5. TERMINATION CLAUSE</h4>
            <p>COCO A&N SNC has the right to terminate the contract of sale providing a written notice to the customer 
                with adequate and justified reasons. In this case the customer will only be entitled to a refund of the 
                amount already paid.</p>
            <h4>6. JURISDICTION AND VENUE</h4>
            <p>Any dispute relating to the application, execution, interpretation and breach of online purchase 
                contracts in coco.com is subject to Italian jurisdiction. These conditions are reported according 
                to Legislative Decree No. 50 of 15.1.1992 and Legislative Decree No. 185 of 22.5.1999. Any dispute 
                between suppliers and customer, relating to this contract, will be a competence of the court of 
                customer’s residence or elective domicile (Art. 1469 Bis N. 19). For all other forums of Verona.</p>
        </section>
    </section>

    <footer>
        <div >
            <article class="bleft">
                <ul>
                    <li><a><b>More information</b></a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Delivery & Returns</a></li>
                    <li><a href="#">Find a Retailer</a></li>
                    <li><a href="#">Our Story</a></li>
                </ul>
            </article>
            <article id="coco2">
                <img src="images/LogoNuevo1.png" alt="COCO">
            </article>
            <article class="info">
                <ul>
                    <li><a><b>Where to find us</b></a></li>
                    <li><a>Via Sole 7 - 37121 Verona, IT</a></li>
                    <li><a>Tel: +54 0351 803 3068</a></li>
                    <li><a>Mail: info@cocointernational.com</a></li>
                </ul>
            </article>
            <article class="extras">
                <ul>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Terms and conditions</a></li>
                    <li><a><b>Social networks</b></a></li>
                </ul>
            </article>
            <article class="redes">
                <ul>
                    <li><a href="#"><img src="images/iconos/whatsapp.png" alt="whatsapp"></a></li>
                    <li><a href="#"><img src="images/iconos/facebook.png" alt="facebook"></a></li>
                    <li><a href="#"><img src="images/iconos/instagram.png" alt="instagram"></a></li>
                </ul>
            </article>
        </div>
    </footer>
    <div>
        <article id="inferior">
            Copyright © 2020 COCO all rights reserved
        </article>
      </div>
    
</body>
</html>